@font-face {
  font-family: 'Fahkwang';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Fahkwang Regular'), local('Fahkwang-Regular'), url(https://fonts.gstatic.com/s/fahkwang/v3/Noax6Uj3zpmBOgbNpOqIuLk.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  border: 1px solid grey;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}
.navBar {
  background-color: #303030;
  border: 1px solid grey;
  color: #ffffff;
  display: flex;
  font-size: 2.5rem;
  justify-content: space-between;
  padding: 2%;
}
.navBar h1 {
  color: #f1f1f1;
  font-family: 'Fahkwang', sans-serif;
  font-size: 3.6rem;
}
.navBar nav {
  padding-top: 0.5%;
  text-align: right;
  width: 50%;
}
.navBar nav a {
  color: #ffffff;
  padding: 0 3.7%;
  text-decoration: none;
}
.container-home {
  background-image: url("../bohcura-background.img.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 120vh;
}
.container-home .intro {
  color: #ffffff;
  display: flex;
  flex-flow: column;
  font-style: bold;
  width: 35%;
  padding-top: 10%;
  padding-left: 2.5%;
}
.container-home .intro p {
  font-size: 3.6rem;
  margin: 3%;
}
