@font-face {
  font-family: 'Fahkwang';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Fahkwang Regular'), local('Fahkwang-Regular'), url(https://fonts.gstatic.com/s/fahkwang/v3/Noax6Uj3zpmBOgbNpOqIuLk.ttf) format('truetype');
}
@font-face {
  font-family: 'Hepta Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/heptaslab/v1/ea8JadoyU_jkHdalebHvyWVNdYoIsHe5HvkV5wfcaZQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Hepta Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/heptaslab/v1/ea8JadoyU_jkHdalebHvyWVNdYoIsHe5HvkV5wfcaZQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Libre Franklin'), local('LibreFranklin-Regular'), url(https://fonts.gstatic.com/s/librefranklin/v4/jizDREVItHgc8qDIbSTKq4XkRiUf2zI.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  border: 1px solid grey;
  background-color: #f1eee9;
}
html,
body {
  scroll-behavior: smooth;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.navBar {
  background-color: #303030;
  color: #f1f1f1;
  display: flex;
  font-size: 2.5rem;
  justify-content: space-between;
  padding: 1.5%;
}
@media (max-width: 1000px) {
  .navBar {
    font-size: 2.2rem;
  }
}
@media (max-width:500px) {
  .navBar {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    width: 100%;
    text-align: center;
    padding-bottom: 0;
    font-size: 1.8rem;
  }
}
.navBar h1 {
  color: #f1f1f1;
  font-family: 'Hepta Slab', serif;
  font-size: 3.3rem;
  font-weight: bold;
}
@media (max-width:500px) {
  .navBar h1 {
    padding-top: 2%;
    font-size: 2.5rem;
  }
}
.navBar nav {
  font-family: 'Lato', sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
  padding-top: 0.5%;
  text-align: right;
  width: 60%;
}
@media (max-width:500px) {
  .navBar nav {
    width: 50%;
    padding: 2% 0%;
    font-size: 1.8rem;
    width: 100%;
    justify-content: space-between;
  }
}
.navBar nav a {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  padding: 0 3%;
  text-decoration: none;
}
@media (max-width: 1000px) {
  .navBar nav a {
    padding: 0 1.5%;
  }
}
@media (max-width:500px) {
  .navBar nav a {
    text-align: center;
    line-height: 1.5;
    padding-top: 5%;
    padding: 0;
    margin-right: 6%;
  }
}
.navBar nav a:hover {
  background-color: #ffffff;
  color: #303030;
  border-radius: 20px;
}
@media (max-width:500px) {
  .navBar nav a:hover {
    border-radius: 15px;
  }
}
.container-home {
  background-image: url("../images/bohcura-background.img.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 120vh;
}
@media (max-width: 1000px) {
  .container-home {
    height: 660px;
  }
}
@media (max-width:500px) {
  .container-home {
    background-color: #bdbdbd;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 320px;
  }
}
.container-home .intro {
  color: #ffffff;
  display: flex;
  flex-flow: column;
  font-style: bold;
  padding-top: 10%;
  padding-left: 2.5%;
  width: 38%;
}
@media (max-width: 1000px) {
  .container-home .intro {
    width: 45%;
  }
}
@media (max-width:500px) {
  .container-home .intro {
    font-size: 3rem;
    padding-top: 5%;
    width: 50%;
  }
}
.container-home .intro p {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 3.6rem;
  margin: 3%;
}
@media (max-width: 1000px) {
  .container-home .intro p {
    font-size: 3.2rem;
  }
}
@media (max-width:500px) {
  .container-home .intro p {
    margin-top: 5%;
    font-size: 1.8rem;
  }
}
.container-home .intro a {
  text-decoration: none;
}
.container-home .intro a button {
  display: block;
  background-color: #d9d9d9;
  color: black;
  margin: 0 8px 18px;
  width: 45%;
  height: 70px;
  border-radius: 5px;
  font-size: 1.8rem;
  text-align: center;
  cursor: pointer;
}
@media (max-width:500px) {
  .container-home .intro a button {
    font-size: 1.5rem;
    height: 5vh;
    margin-top: 10%;
    width: 60%;
  }
}
.container-home .intro button:hover {
  background-color: white;
}
.container-login-page {
  background-image: url(../images/man-woman-cooking.img.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 120vh;
  padding-top: 4%;
}
@media (max-width: 1000px) {
  .container-login-page {
    height: 700px;
    padding-top: 2%;
  }
}
@media (max-width:500px) {
  .container-login-page {
    background-repeat: repeat;
    height: 600px;
  }
}
.container-login-page .login {
  background-color: white;
  margin-right: 3%;
  margin-left: 3%;
  opacity: 0.9;
  padding-top: 5%;
}
@media (max-width: 1000px) {
  .container-login-page .login {
    margin-top: 3%;
  }
}
@media (max-width:500px) {
  .container-login-page .login {
    margin: 5%;
    margin-bottom: 7%;
    padding-bottom: 5%;
  }
}
.container-login-page .login h2 {
  color: #E54236;
  font-family: 'Fahkwang', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}
@media (max-width: 1000px) {
  .container-login-page .login h2 {
    font-size: 3rem;
  }
}
@media (max-width:500px) {
  .container-login-page .login h2 {
    font-size: 2rem;
  }
}
.container-login-page .sign-in {
  display: flex;
  margin-top: 15%;
  padding-bottom: 14%;
}
@media (max-width: 1000px) {
  .container-login-page .sign-in {
    margin-top: 5%;
  }
}
@media (max-width:500px) {
  .container-login-page .sign-in {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    font-size: 2rem;
    padding-bottom: 5%;
  }
}
.container-login-page .sign-in p {
  font-size: 3.6rem;
  margin: auto 8%;
  width: 48%;
}
@media (max-width: 1000px) {
  .container-login-page .sign-in p {
    font-size: 3rem;
  }
}
@media (max-width:500px) {
  .container-login-page .sign-in p {
    font-size: 2rem;
    width: 80%;
  }
}
.container-login-page .sign-in .theButtons {
  width: 50%;
}
@media (max-width: 1000px) {
  .container-login-page .sign-in .theButtons {
    margin-top: 5%;
  }
}
@media (max-width:500px) {
  .container-login-page .sign-in .theButtons {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    font-size: 2rem;
    width: 100%;
  }
}
.container-login-page .sign-in .btn {
  display: block;
  background-color: #d9d9d9;
  color: black;
  margin: 0 8px 18px;
  width: 300px;
  height: 70px;
  border-radius: 5px;
  font-size: 1.8rem;
  text-align: center;
  align-content: center;
  margin-top: 4%;
}
.container-login-page .sign-in .btn:hover {
  background-color: white;
  cursor: pointer;
}
.about-container {
  background-image: url(../images/bowl-of-food.img.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 120vh;
  background-color: #f1eee9;
}
@media (max-width: 1000px) {
  .about-container {
    height: 665px;
    padding-bottom: 70px;
  }
}
@media (max-width:500px) {
  .about-container {
    background-color: #bdbdbd;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 320px;
    background-image: none;
    background-repeat: repeat-x;
    height: 70%;
  }
}
.about-container .about-bochura {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  padding: 3%;
}
.about-container .about-bochura h1 {
  font-size: 3.6rem;
  font-weight: bold;
}
.about-container .about-bochura p {
  padding-top: 2%;
  width: 70%;
  text-align: center;
  font-size: 2.6rem;
}
@media (max-width: 1000px) {
  .about-container .about-bochura {
    padding: 3%;
  }
  .about-container .about-bochura h1 {
    font-size: 3.5rem;
    font-weight: bold;
  }
  .about-container .about-bochura p {
    padding-top: 2%;
    width: 70%;
    text-align: center;
    font-size: 2.6rem;
  }
}
@media (max-width:500px) {
  .about-container .about-bochura {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    padding: 4%;
  }
  .about-container .about-bochura h1 {
    font-size: 2.6rem;
    font-weight: bold;
  }
  .about-container .about-bochura p {
    padding-top: 2%;
    width: 70%;
    text-align: center;
    font-size: 2.6rem;
  }
}
.about-container .about-bochura p {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 2.3rem;
}
@media (max-width: 1000px) {
  .about-container .about-bochura p {
    font-size: 2rem;
  }
}
@media (max-width:500px) {
  .about-container .about-bochura p {
    font-size: 2rem;
    width: 100%;
  }
}
.about-container .about-meaning {
  width: 70%;
  padding-left: 2%;
}
.about-container .about-meaning h1 {
  font-size: 3.6rem;
  font-weight: bold;
}
.about-container .about-meaning p {
  padding-top: 2%;
  width: 70%;
  text-align: center;
  font-size: 2.6rem;
}
@media (max-width: 1000px) {
  .about-container .about-meaning {
    padding: 3%;
    padding-top: 0%;
  }
  .about-container .about-meaning h1 {
    font-size: 3.5rem;
    font-weight: bold;
  }
  .about-container .about-meaning p {
    padding-top: 2%;
    width: 70%;
    text-align: center;
    font-size: 2.6rem;
  }
}
@media (max-width:500px) {
  .about-container .about-meaning {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    padding: 5%;
    width: 100%;
    text-align: center;
  }
  .about-container .about-meaning h1 {
    font-size: 2.6rem;
    font-weight: bold;
  }
  .about-container .about-meaning p {
    padding-top: 2%;
    width: 70%;
    text-align: center;
    font-size: 2.6rem;
  }
}
.about-container .about-meaning h1 {
  text-align: center;
  width: 70%;
}
@media (max-width:500px) {
  .about-container .about-meaning h1 {
    width: 100%;
  }
}
.about-container .about-meaning p {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 2.3rem;
}
@media (max-width: 1000px) {
  .about-container .about-meaning p {
    font-size: 2rem;
  }
}
@media (max-width:500px) {
  .about-container .about-meaning p {
    font-size: 2rem;
    width: 100%;
  }
}
.about-container .about-offer {
  align-items: center;
  align-content: flex-start;
  display: flex;
  flex-flow: column wrap;
  padding-top: 5%;
  padding-left: 2%;
  width: 70%;
}
.about-container .about-offer h1 {
  font-size: 3.6rem;
  font-weight: bold;
}
.about-container .about-offer p {
  padding-top: 2%;
  width: 70%;
  text-align: center;
  font-size: 2.6rem;
}
@media (max-width: 1000px) {
  .about-container .about-offer {
    padding: 5%;
    padding-top: 0;
    width: 70%;
  }
  .about-container .about-offer h1 {
    font-size: 3.5rem;
    font-weight: bold;
  }
  .about-container .about-offer p {
    padding-top: 2%;
    width: 70%;
    text-align: center;
    font-size: 2.6rem;
  }
}
@media (max-width:500px) {
  .about-container .about-offer {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    padding: 5%;
    width: 100%;
  }
  .about-container .about-offer h1 {
    font-size: 2.6rem;
    font-weight: bold;
  }
  .about-container .about-offer p {
    padding-top: 2%;
    width: 70%;
    text-align: center;
    font-size: 2.6rem;
  }
}
.about-container .about-offer p {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 2.3rem;
  width: 70%;
}
@media (max-width: 1000px) {
  .about-container .about-offer p {
    font-size: 2rem;
  }
}
@media (max-width:500px) {
  .about-container .about-offer p {
    font-size: 2rem;
    width: 100%;
  }
}
.team {
  background-color: #f1eee9;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  padding-top: 5%;
}
.team h1 {
  font-size: 3.6rem;
  font-weight: bold;
}
.team p {
  padding-top: 2%;
  width: 70%;
  text-align: center;
  font-size: 2.6rem;
}
@media (max-width: 1000px) {
  .team {
    margin-top: 10%;
  }
}
@media (max-width:500px) {
  .team {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
  }
}
.team .staff {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 3%;
  padding-bottom: 4%;
}
.team .staff h1 {
  font-size: 2.8rem;
  font-weight: bold;
}
.team .staff p {
  padding-top: 2%;
  width: 70%;
  text-align: center;
  font-size: 2.6rem;
}
.team .staff h2 {
  font-size: 2rem;
  padding-top: 2%;
}
.team .staff .card {
  width: 44%;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  margin: 2%;
  align-items: center;
  background-color: #D9D9D9;
  border-radius: 30px;
  border: 2px inset grey;
  padding: 3%;
}
@media (max-width:500px) {
  .team .staff .card {
    width: 80%;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 30px;
    border: 2px inset grey;
    padding: 3%;
  }
}
.team .staff .card p {
  width: 100%;
  padding: 5%;
}
@media (max-width: 1000px) {
  .team .staff .card p {
    font-size: 2rem;
  }
}
@media (max-width:500px) {
  .team .staff .card p {
    width: 100%;
    padding: 5%;
  }
}
.team .staff .card .github {
  display: block;
  background-color: #d9d9d9;
  color: black;
  margin: 0 8px 18px;
  width: 220px;
  height: 70px;
  border-radius: 5px;
  font-size: 1.8rem;
  text-align: center;
  margin-left: 15%;
  margin-top: 5%;
  justify-content: center;
  margin: 0;
  background-color: #ffffff;
}
@media (max-width: 1000px) {
  .team .staff .card .github {
    font-size: 2rem;
  }
}
@media (max-width:500px) {
  .team .staff .card .github {
    justify-content: center;
    margin: 0;
    background-color: #ffffff;
  }
}
.team .staff .card .github:hover {
  background-color: white;
  cursor: pointer;
  background-color: #f2463a;
}
@media (max-width:500px) {
  .team .staff .card .github:hover {
    background-color: #f2463a;
  }
}
