.about-top{
  background: url(../img/food.jpg);
  height:100vh;
  background-size:cover;
  width:100%;
  height:auto;
  @media @phone{
    max-width:100%;
    background-size:cover;
  }
  .about-container-top {
    margin-left:32%;
    width:50%;
    padding:4%;
    @media @phone{
      width:80%;
      margin:auto;
      .custom-layout(center, center);
      flex-direction: column;
        text-align: center;
    }
    h1{
      color:@header-nav;
      font-size:3.6rem;
      display:flex;
      justify-content: center;
      padding:1%;
      font-family: @ang;
      color:@maroon;
      font-weight:bold;
      @media @phone{
        font-size:2.4rem;
        
      }
    }
    p{
      display:flex;
      justify-content: center;
      font-size:2.1rem;
      font-family: @ang;
      font-weight:bold;
      @media @phone{
        font-size:1.6rem;
      }
    }

  }
  .about-content{
    .custom-layout(center, center);
     width:53%;
     flex-direction: column;
     @media @phone{
       .custom-layout(center, center);
       flex-direction: column;
       margin:auto;
       width:100%;
     }

     h2{
       .custom-layout(center,center);
       padding:1%;
       color:@header-nav;
       font-family: @ang;
       color:@maroon;
       font-size:2.9rem;
       @media @phone{
         font-size:2.2rem;
       }
     }
     p{
       font-size:2.1rem;
       font-family: @ang;
       @media @phone{
         font-size:1.7rem;
       }
     }
     .about-what{
       margin:1% 21%;
       width:100%;
       @media @phone{
         width:80%;
         margin:auto;
       }
     }
     .about-word{
       width:88%;
       margin:6% 10% 5%;
       @media @phone{
         width:80%;
         margin:15px auto;
       }
     }
     .about-help{
       width:106%;
       margin: 3% 14% 5%;
       @media @phone{
         width:80%;
         margin:15px auto;
       }
     }
  }

}
.bottom-section{
  background:#F2EFEA;
  // width:100%;
  .custom-layout(center, center);
  flex-direction: column;
  @media @phone{
    width:100%;
    .custom-layout(center, center);
    flex-direction: column;
  }
  h1{
    color:@header-nav;
    font-size:3.6rem;
    display:flex;
    justify-content: center;
    padding:1%;
    font-family: @ang;
    color:@maroon;
    font-weight:bold;
  }
  .box{
    .custom-layout(space-between, flex-start);
    width:100%;
    flex-wrap:wrap;
    margin:0 auto;
    flex-direction: row;
    padding:2%;
    @media @phone{
      .custom-layout(center, center);
      flex-direction: column;
    }
    .bio{
      .bio();
      .bottom-panel{
        width:33%;
      }
    }
  }
}
