.about-top{
  background: url(../img/food.jpg);
  height:100vh;
  background-size:cover;
  width:100%;
  .about-container-top {
    margin-left:36%;
    width:50%;
    padding:5%;
    h1{
      color:@header-nav;
      font-size:3.2rem;
      display:flex;
      justify-content: center;
      padding:1%;
      font-family: @ang;
      color:@maroon;
    }
    p{
      display:flex;
      justify-content: center;
      font-size:2.3rem;
      font-family: @ang;
    }
  }
  .about-content{
    .custom-layout(center, center);
     width:60%;
     flex-direction: column;

     h2{
       .custom-layout(center,center);
       padding:1%;
       color:@header-nav;
       font-family: @ang;
       color:@maroon;
     }
     p{
       font-size:2.1rem;
       font-family: @ang;
     }
     .about-what{
       margin:1% 21%;
       width:84%;
     }
     .about-word{
       width:88%;
       margin:12% 10%;
     }
  }

}
