header{
  background: url(../img/chef-john.png);
  height:125vh;
  background-size:cover;
  width:100%;
  // @media (min-width:1440px){
  //   background-position-y: -100px;
  // }

  .top-content{
    display:flex;
    flex-direction: column;
    .header-content{
      display:flex;
      flex-direction: column;
      width:30%;
      color:white;
      margin:10% 5% 0%;
      
      p{
        font-size:2.8rem;
      }
    }
    .btn{
      display:flex;
      flex-direction: column;
      width:10%;
      background-color:#C4C4C4;
      font-size:1.4rem;
      color:#000000;
      border-radius:4px;
      margin:2% 5%;
      padding:13px;
      align-content: center;
      text-align: center;
      a {
        text-decoration: none;
        color:black;
        &:hover{
          color:blue;
        }
      }
    }
  }
 
}
.bottom{
  background: url(../img/john2.jpg);
  height:123vh;
  background-size:cover;
  width:100%;
  position: absolute;
  // @media (min-width:1440px){
  //   margin-top: 100px;
  // }
  .bottom-container{
    background:rgba(255, 255, 255, 0.92);
    margin:7% 10% 0%;
    width:78%;
    height:75%;
    h2{
      color:#E54236;
      text-align: center;
      padding:4%;
      font-size:3.9rem;
    }
    .text-form{
      display:flex;
      justify-content: space-around;
      width:73%;
      margin:7% 10% 2%;
     p{
      font-size:3.2rem;
      width:51%;
      font-family: 'Libre Franklin', sans-serif;
      @media (max-width:1024px) {
        font-size:2.4rem;
      }

    }
    .btn{
      // margin:3% 0%;
      display:flex;
      justify-content: space-evenly;
      flex-direction: column;
      width:36%;
      button{
       padding:10%;
       text-align: center;
       background-color: #C4C4C4;
       border-radius:4px;
       width:100%
        }
    }
    }
  }
 }

  