// Mix-ins

@phone: ~'(max-width:500px)';

.custom-layout(@justify, @align){
  display:flex;
  justify-content:@justify;
  align-content:@align;
}

// .btn(){
//   padding:10%;
//   text-align: center;
//   background-color: @deep-gray;
//   border-radius:4px;
//   width:100%;
  
// }