.navBar { 
    background-color: #303030;
    color: #ffffff;
    display: flex;
    font-size: 2.5rem;
    justify-content: space-between;
    padding: 2%;
    
    h1 {
        color: #f1f1f1;
        font-family: 'Hepta Slab', serif; 
        font-size: 3.6rem;
    }
    nav {
        padding-top: .5%;
        text-align: right;
        width: 50%;  
        
        a{
            color: #ffffff;
            padding: 0 3.7%;
            text-decoration: none;
        }

        a:hover {
            background-color: #ffffff;
            color: #303030;
            border-radius: 20px;
        }
    }
    
}