//Font Variables
@import url('https://fonts.googleapis.com/css?family=Fahkwang|Hepta+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

//Fonts
@font: 'Hepta Slab', serif;
@pFont: 'Libre Franklin', sans-serif;
@navFont: 'Lato', sans-serif;

//Responsiveness
@mobile:~"(max-width:500px)";